.nutshell{
    width: 100%;
    height: fit-content;
    background: #F8F8F8;
    margin-bottom: -52px;
}

.nutshell-details{
    margin-top: -20px;
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.nutshell-content{
    width: 33.33%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.nutshel-heading{
    font-size: 28px;
    font-weight: bold;
    line-height: 110px;
    margin-top: -10px;
    border-width: 3px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-image: linear-gradient(90deg, #2966F7, #FF00CF) 1;
}

.nutshell-2{
    border: .5px solid #A7A5A6;
    border-top: none;
    border-bottom: none;
}


.nutshell-details img{
    height: 150px;
}

.nutshel-descriprion{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400px;
}

.nutshell-content .image{
    width: 40%;
    height: 30%;
}

.nutshell-content .image img{
    width: 100%;
    object-fit: contain;
}

@media (max-width: 1000px){
    .nutshell-details{
        margin-top: -20px;
        width: 92%;
        display: flex;
        flex-direction: column;
        margin-left:auto;
        margin-right: auto;
        padding-bottom: 100px;
    }
    .nutshell-content{
        width: 90%;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .nutshel-heading{
        font-size: 18px;
        font-weight: bold;
        line-height: 60px;
    }
    .NutModify{
        width: 20%;
        height: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .NutModify img{
        height: 100%;
        width: 100%;
    }
    .nutshell-2{
        border: none;
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media (max-width:400px){
    .moreNutshelltitle{
        margin-left: 8%;
    }
}