.work-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.btnMore{
    width: 240px;
}

.btncolor{
    background-color: white;
    color: #231F20;
}

.buttons{
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.cMore{
    text-align: center;
    margin-bottom: 50px;
}

.bMore{
    margin-top: 0px;
}

.black{
    color: #231F20;
}

.blackBorder{
    border: 1px solid #231F20;
}

@media (max-width: 1055px){
    .work-body{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


@media (max-width: 746px){
    .btnMore{
        width: 169px;
    }
    .btncolor{
        width: 134px;
    }
    .buttons{
        gap: 16px;
    }
    .b{
        margin-top: 8px;
    }
    .c{
        margin-top: 8px;
    }

    .cMore{
        text-align: center;
        margin-bottom: 0px;
    }
    .work-body{
        margin-top: 0px;
    }
}

