.OurLeaderBody{
    background-color: #161616;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: -40px;
}
.heading-ourLeaders{
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    /* color: #231f20; */
    color: white;
    text-align: center;
}

.contents-ourL{
    margin-top: 30px;
}

.first-contents-ourL{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.second-contents-ourL{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.contentsOurL2{
    display: none;
}

@media (max-width: 1000px){
    .contents-ourL{
        display: none;
    }
    .contentsOurL2{
        display: flex;
        flex-direction: column;
        color: white;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}



