.InformationBanner{
    width: 100%;
    height: 531px;
    background-color: rgb(189, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.InformationBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Info-text{
    font-weight: 800;
    font-size: 64px;
    color: white;
}

.InformationBanner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
    z-index: 1;
}

.Info-text {
    position: relative;
    z-index: 2;
}
.image-text-ab{
}
.img-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px){
    .InformationBanner{
        height: 347px;
    }  
}

@media (max-width: 746px){
    .Info-text{
        font-size: 30px;
        text-align: center;
    }
}