.more{
    font-size: 72px;
    font-weight: 800;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.footbody-1{
    width: 100%;
    padding-bottom: 80px;
    margin-bottom: -52px;
}
.footbody-2{
    width: 85%;
    margin: auto;

}
.foot-nuber{
    display: flex;
    justify-content:space-between;
    margin-left: auto;margin-right: auto;
}
.foot-number-box{
    padding-right: 40px;
    border-right: 1px solid #A7A5A6;
    margin-right: 25px;
}
.foot-number-box .number{
    font-size: 60px;
    font-weight: 700;
    color: #1570ef;
    margin-top: 10px;
    margin-bottom: 20px;
}
.foot-number-box .text{
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #231F20;
}

.icon-down{
    font-size: 20px;
    position:relative;
}

.final{
    padding-right: 30px;
    margin-right: 0px;
    border-right: none;
}

.logo-box-title{
    margin-top: 115px;
    font-size: 52px;
    font-weight: 800;
    line-height: 78px;
    margin-bottom: 40px;
    text-align: center;
    color: #737373;
}

.logo-box-grid{
    padding-top: 25px;
    margin-right: -12px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.logo-box{
    height: 100px;
    border: 1px solid #A7A5A6;
    margin-right: 12px;
    margin-bottom: 12px;
    position: relative;
}

.logo-box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-width{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.button-width button{
    background: #231F20;
    height: 56px;
    width: 168px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* commentout */
.foot-nuber-small{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.footer-first-row{
    display: flex;
}
.footer-second-row{
    display: flex;
}
.foot-number-box-small{
    width: 32%;
    min-width: 0px;
    height: 70px;
    border: 1px solid #A7A5A6;
}
.foot-number-box-small .number-small{
    font-size: 20px;
    font-weight: 700;
    color: #1570ef;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.foot-number-box-small .text-small{
    font-size: 11px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #231F20;
    padding-left: 20px;
}
.footB1{
    border-left: none;
    border-top: none;
}
.footB2{
    border-left: none;
    border-top: none;
    border-right: none;
}
.footB3{
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.footB4{
    border-left: none;
    border-top: none;
}


.foot-number-box .number{
    font-size: 72px;
}

@media (min-width: 1001px){
    .foot-nuber-small{
        display: none;
    }
}

@media (max-width: 1365px){
    .foot-number-box .number{
        font-size: 45px;
    }
}

@media (max-width: 1200px){
    .foot-number-box .number{
        font-size: 30px;
    }
}


@media (max-width: 1000px){
    .more{
        font-size: 30px;
        font-weight: 800;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .footLogo{
        display: none;
    }
    .logo-box-grid{
        padding-top: 25px;
        margin-right: -12px;
        display: grid;
        grid-template-columns: auto auto auto ;
    }
    .logo-box img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 29px;
    }
    .logo-box{
        height: 65px;
        border: 1px solid #d1d1d1;
        margin-right: 7px;
        margin-bottom: 7px;
        position: relative;
    }

    .logo-box-title{
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 0px;
    }
    .foot-nuber{
        display: none;
    }
    .foot-number-box .number{
        font-size: 30px;
    }
}

@media (max-width: 500px){
    .more{
        font-size: 30px;
        font-weight: 800;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .foot-number-box-small{
        height: 65px;
    }

    .foot-number-box-small .number-small{
        font-size: 18px;
        font-weight: 700;
        color: #1570ef;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .foot-number-box-small .text-small{
        font-size: 9px;
        font-weight: 500;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #231F20;
        padding-left: 10px;
    }

    .footLogo{
        display: none;
    }
    .logo-box-grid{
        padding-top: 25px;
        margin-right: -12px;
        display: grid;
        grid-template-columns: auto auto auto ;
    }
    .logo-box img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 22px;
    }
    .logo-box{
        height: 65px;
        border: 1px solid #d1d1d1;
        margin-right: 7px;
        margin-bottom: 7px;
        position: relative;
    }

    .logo-box-title{
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 0px;
    }
    .foot-nuber{
        display: none;
    }
}



