.social-body{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;  
}

.social-left{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.social-left-content{
    padding-left: 20%;
    padding-right: 5%;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.social-left-content button{
    border: none;
    border-radius: 4px;
    width: 152px;
    height: 58px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: #231F20;
    margin-top: 25px;
}

.social-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.social-right{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.social-right img{
    padding-left: 100px;
}
