.social-body{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 100px;
}

.social-left{
    width: 50%;
    margin-top: 50px;
    margin-bottom: auto;
}
.social-left-content{
    padding-left: 20%;
    padding-right: 5%;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.social-left-content button{
    border: none;
    border-radius: 4px;
    width: 152px;
    height: 58px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: #231F20;
    margin-top: 25px;
    cursor: pointer;
}

.social-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.social-right{
    width: 50%;
    margin-top: 150px;
    margin-bottom: auto;
}

.social-right img{
    /* height: 50%; */
    width: 70%;
    height: 100%;
    max-height: 320px;
    object-fit: contain;
}


.social-right img{
    padding-left: 100px;
}

.Social-Button{
    font-size: 19px;
    font-weight: 700;
    color: #1570ef;
    margin-top: 50px;
    cursor: pointer;
}

.social-right{
}

@media (min-width: 1001px){
    .social-deign-2{
        display: none;
    }
}



@media (max-width: 1000px){
    .social-deign-2{
        margin-left: 4%;
        margin-right: 4%;
        margin-top: -30px;
    }
    .social-title-small{
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: #231F20;
    }
    .social-image-small{
        width: 100%;
        object-fit: cover;
        text-align: center;
    }
    .social-image-small img{
        width: 85%;
        max-width: 500px;
    }
    .social_description_small{
        font-size: 14px;
        line-height: 24px;
        font-weight: 400px;
        color: #231F20;
    }
    .social-deign-2 button{
        border: none;
        border-radius: 4px;
        width: 100px;
        height: 40px;
        font-weight: 400;
        font-size: 12px;
        color: white;
        background-color: #231F20;
        margin-top: 20px;
        cursor: pointer;
    }
    .social-body{
        display: none;
    }
    .Social-Button{
        text-align: center;
        padding-bottom: 30px;
    }
}

@media (max-width: 768px){
    .Social-Button{
        font-size: 15px;
    }
}
