.cardL {
  width: 336px;
  height: 360px;
  border: double 4px transparent;
  border-radius: 41px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top, #2A67F8, #2A67F8, #FF01D0);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.background-card{
  width: 100%;
  height: 100%;
  border-radius: 37px;
  /* background-color: #161616; */
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logosLeader{
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.logosLeader img:hover{
  cursor: pointer;
}

.headingAndIcon{
  display: flex;
}

  .cardimageL{
    height: 160px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    /* border: 5px solid #1570efb5; */
    border: 6px solid #1570EF;

  }

  .cardimageL img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .imageLeader{
    height: 340px;
    width: 340px;
    background-color: #e8e8e8;
    border-color: #A7A5A6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .cardL1{
    height: 15px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    color: #212834;
    /* color: white; */
    width: 100%;
  }
  .cardL2{
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    color: #212834;
    /* color: white; */
    margin-top: 0px;
    margin-bottom: 0px;
    height: 24px;
  }

  
  .cardL-details{
    /* background:#212834; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .cardLtransparent-gap{
    background: #161616;
    background: white;
    width: 129px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: -42px;
}

.cardLCircle1{
  width: 16px;
  height: 16px;
  /* aspect-ratio: 1/1; */
  border-radius: 50%;
  background-color: #2A67F8;
  margin-left: -5px;
}
.cardLCircle2{
  width: 16px;
  height: 16px;
  /* aspect-ratio: 1/1; */
  border-radius: 50%;
  background-color: #2A67F8;
  margin-right: -5px;
}
  
@media (max-width: 680px){
  .cardL {
    width: 280px;
    height: 300px;
  }
  .cardimageL{
    height: 150px;
    width: 150px;
  }
  /* .cardL-details{
    height: 83px;
    background-color: #212834;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

  
  .cardL1{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #212834;
    width: 100%;
  }

  .cardL2{
    width: 90%;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;
    color: #212834;
    margin-left: auto;
    margin-right: auto;
  }

  .cardLtransparent-gap{
    margin-top: -21px;
  }
  .cardLCircle1{
    width: 14px;
  }
  .cardLCircle2{
    width: 14px;
    height: 14px;
  }
  /* .cardL1{
    color: white;
  }
  .cardL2{
    color: white;
  } */
  .cardLtransparent-gap{
    width: 100px;
  }

}