.solution-1{
    width: 100%;
    margin-bottom: -52px;
    background: #F8F8F8;
}

.solution-2{
    width: 90%;
    margin: auto;
}

.solution-des{
    text-align: center;
    font-size: 21px;
    line-height: 38px;
    font-weight: 600;
    margin-top: 0;
}

.image{
    width: 95.5%;
    margin-left: auto;
    margin-right: auto;
}

.solution-boxes{
    height: 320px;
    width: 290px;
    margin-left: 35px;
    margin-right: 35px;
}

.solution-boxes img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.solution-contents{
    display: flex;
    justify-content: center;
    justify-items: right;
    padding-bottom: 50px;
}

.solution-contents-2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 10px;
}


.solution-mobile-view{
    width: 100%;
}

.solution-mobile{
    background: white;
    width: 154px;
    min-height: 191.65px;
    margin-bottom: 10px;
    padding-top: 12px;
    border-radius: 6.59px;
}

.solution-mobile-new{
    width: 154px;
    height: 191.65px;
    margin-bottom: 10px;
    padding-top: 12px;
}

.our-solution-heading{
    height: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #1570EF;
    text-align: center;
}


.solution-mobile-heading{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #393536;
    padding-left: 10px; 
    padding-right: 10px;
}
.solution-mobile-text{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #393536;
    padding-left: 10px; 
    padding-right: 10px;
    margin-top: -5px;
}

.solution-mobile-image{
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
}

.solution-mobile-image img{
    width: 100%;
    height: 100%;
}

.solution-mobile-row{
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 9px;
    margin-top: 0px;
}

.new{
    background-color: none;
}

.Solution-Design-Image{
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.Solution-Design-Image img{
    width: 100%;
}

.modifySmart{
    margin-bottom: -5px;
}

@media(min-width: 769px){
    .solution-mobile-view{
        display: none;
    }
}

@media(max-width:768px){
    .Solution-Design-Image{
        display: none;
    }   
    .solution-mobile-view{
        margin-top: -30px; 
        padding-bottom: 50px;  
    }
}

@media(max-width: 1000px){
    
    
    .modifySmart{
        justify-content: center;
    }

    .solution-contents{
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .solution-contents-2{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0px;
        align-items: center;
        width: 100%;

    }
    .solution-boxes{
        height: fit-content;
        width: 100%;
        margin-left: 35px;
        margin-right: 35px;
    }
    
    .SModify{
        height: 100px;
       width: 100px; 
       object-fit: fill;
       margin-right: 0px;
    }
    .solution-boxes{
        display: flex;
        flex-direction: row-reverse;
        justify-content:start; /* Centers items horizontally */
        align-items: center; 
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: 1px solid #D4D4D4;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .solution-des{
        text-align: left;
        width: 75%;
        font-size: 18px;
        line-height: 38px;
        font-weight: 600;
        margin-top: 0;
    }  
}
