.IotProductImage{
    height: 416px;
}

.IotCardBody{
    height: 525px;
    width: 348px;
    align-items: flex;
    flex-direction: column;
}


.IotCardName-Details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.IotCard-name{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #231F20;
}
.IotCard-details{
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #1570EF;
}


.IotCard-Buttons{
    display: flex;
    justify-content: space-between;
}
.IotCard-LeftButton{
    height: 45px;
    width: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #1570EF;
    border-radius: 4px;
    color: #1570EF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.IotCard-RightButton{
    height: 45px;
    width: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1570EF;
    border: 1px slid #1570EF;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 746px){
    .IotCardBody{
        width: 310px;
    }
    .IotCard-LeftButton{
        width: 152px;
    }
    .IotCard-RightButton{
        width: 152px;
    }
    .IotCard-Buttons{
        font-weight: 500;
        font-size: 14px;
    }
    .IotCard-name{
        font-weight: 500;
        font-size: 16px;
    }
    .IotCard-details{
        font-weight: 700;
        font-size: 14px;
    }
    .IotProductImage{
        height: 382px;
    }

    .IotProductImage img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}