
.img{
    max-width: 100%;
    min-width: 100%;
}

.image-text{
    position: relative;
    width: 600px;
    color: white;
    width: 100%;
    bottom: 200px;
    z-index: 0;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin-bottom: -153px;
    font-family: "Poppins", sans-serif;
}

.image-text p{
    width: 750px;
    margin: auto;
}