.showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tag-line {
  position: absolute;
  bottom: 5%;
  text-align: center;
  color: white;
  z-index: 1;
  font-size: 54px;
  line-height: 14px;
}

@media (max-width: 992px) {
  .tag-line {
    font-size: 18px;
    line-height: 14px;
  }
}
