.transform-body{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: -48px;
}

.transform-body-first{
    width: 50%;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;
}




.transform{
    width: 85%;
    height: fit-content;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}




.transform-body-first .heading{
    font-size: 45px;
    font-weight: 700;
    margin-top: 0%;
    line-height: 64px;
}

.heading2{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-top: -25px;
    margin-bottom: 10px;
}

.transform-body-second{
    width: 50%;
    background: #f8f7f7;
    display: flex;
    line-height: 28px;
    padding-top: 30px;
}


.transformB{
    width: 80%;
    padding-top: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: -1px;
}

.oneT{
    border-width: 1px;
    border-top: #A7A5A6;
    border-style: solid;
}
.twoT{
    border-top: 1px solid #A7A5A6;
}

.twoT1{
    border-top: 1px solid #A7A5A6;
}.twoT2{
    border-top: 1px solid #A7A5A6;
}

.threeT{
    border-top: 1px solid #A7A5A6;
}



.trans-2-heading{
    font-size: 25px;
    font-weight: 500;
    line-height: 42px;
    color: #231F20;
    margin-top: 0px;
    margin-bottom: 16px;
    animation: slideFromLeft .3s ease forwards;
}

.trans-2-peragraph{

    font-weight: 400;
    animation: slideFromLeft .5s ease forwards;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 16px;
    color: #393536;
}

.trans-image{
    width: 100%;
    /* max-width: 608px; */
    /* max-height: 406px; */
}

.trans-image img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    animation:  arrowSlideFromRight 1s ease forwards;
}


.transformB:hover{
    transition: color 0.2s ease;
    color: #393536 !important;
}
.transformTotal{
    display: flex;
    align-items: center;
}


.arrowA.active, .arrowB.active, .arrowC.active {
    display: block; /* Display active arrow */
}


.trans-text{
    min-height: 150px;
}

/* ///////////////////// */

@keyframes arrowSlideFromRight{
    from {
        transform: translateX(7%);
        /* height: 0%; */
      }
      to {
        transform: translateX(0);
        /* height: auto; */
      }
}

@keyframes arrowSlideFromTop{
    from {
        width: 0;
      }
      to {
        width: auto; /* or your desired width */
      }
}

@keyframes slideFromLeft {
    from {
        font-size: 0;
      }
      to {
        font-size: auto; /* or your desired width */
      }
  }




.transform-moileview-icons{
    display: flex;
    justify-content: space-between;
    width: 70%;
    min-width: 320px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.transform-single-icon{
    width: 64px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.transform-moileview-icons img{
    height: 20px;
    width: 20px;
}

@media (max-width: 746px){
    .trans-text{
        min-height: 180px;
    }
}
@media (min-width: 1001px){
    .transform-moileview-icons{
        display: none;
    }
}

@media (max-width: 1000px){
    
    .trans-text{
        
    margin-top: -30px;
    }
    .transform-body-second{
        border-top: 1px solid #A7A5A6;
    }
    .transform-buttons{
        display: none;
        background-color: red;
    }
    .arrowA.active, .arrowB.active, .arrowC.active {
        display: block; /* Display active arrow */
    }
    .transformTotal{
        display: flex;
        flex-direction: column;
    }
    .white{
        animation: arrowSlideFromTop 0.8s ease forwards;
        border: 15px solid #ff00d076;
        /* border: 15px solid #ff00d051; */
        border-width: 10px;
        border-left: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid transparent;
        margin-top: 10px;
        margin-bottom: -20px;
    }
    .modifyTransform{
        width: 85%;
        margin: auto;
        margin-bottom: 5px;
    }

    .transform-body{
        flex-direction: column;
    }

    .transform-body-first{
        width: 100%;
        height: fit-content;
    }
    .transform-body-second{
        width: 100%;
        height: fit-content;
    }
    .transform-body-first .heading{
        font-size: 20px;
        font-weight: 700;
        margin-top: 0%;
    }
    .heading2{
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .transformB{
        width: 100%;
        font-size: 15px;
        line-height: 21px;
        flex-direction: row;
    }
    .transform-buttons{
        margin-top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5%;
        border-bottom: 1px solid #A7A5A6;
    }

    .oneT{
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-top: none;
    }
    
    .twoT{
        border: none;
    }
    .transform-buttons{
        display: none;
        background-color: red;
    }
    
}

@media (max-width: 650px){
    .transformB{
        font-size: 12px;
    }
    .trans-2-heading{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    .trans-2-peragraph{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 560px){
    .twoT{
        
    text-align: center;
    }
    
    

    .transform-body-second{
        width: 100%;
    }

    .transform-body-first .heading{
        line-height: 30px;
    }
}

