.question-body{
    width: 92%;
    margin-left: auto;margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.question-content{
    display: flex;
    
}

.question-form{
    width: 100%;
    height: fit-content;
}

.question-body-left{
    width: 50%;
}
.question-body-left-image{
    width: 523px;
    height: 348px;
}
.question-body-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.question-body-right{
    width: 50%;
    display: flex;
    justify-content: end;
}

.form{
    display: flex;
    flex-direction: column;
}

.question-input{
    background: none;
    height: 60px;
    border: 1.5px solid #D4D4D4;
    margin-bottom: 20px;
}

.question-input::placeholder{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #686868aa;
    font-family: "Poppins", sans-serif;
}

.textarea{
    height: 160px;
    resize: none;
    padding-top: 22px;
}




.form-button{
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    width: fit-content;
    color: white;
    background-color: #231F20;
    box-shadow: none;
    margin-left: auto;
    border: 1px solid rgba(255, 255, 255, 0.324);
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.queation-heading{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: #231F20;
    margin-bottom: 12px;
    margin-top: 140px;
}

.question-p{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #231F20;
    margin: 0px;
    margin-bottom: 56px;
    margin-top: 5px;
    width: 50%;
}

@media (max-width: 1055px){
    .question-p{
        margin-left: auto;
        margin-right: auto;
    }
    .question-content{
        display: flex;
        flex-direction: column;
    }
    .question-body{
        text-align: center;
    }
    .question-body-left{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .question-body-left img{
        max-width: 700px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .question-body-right{
        width: 100%;
        
    justify-content: center;
        margin-left: none;
    }
    .question-p{
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .form-button{
        margin-left: auto;
        margin-right: auto;
    }
    .question-form{
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 746px){
    .question-body-left{
        margin-bottom: 0px;
    }
    .question-input{
        font-size: 14px;
    }
    .queation-heading{
        font-size: 20px;
        line-height: 30px;
        font-weight: 800;
        margin-top: 0px;
    }
    .question-p{
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    .form{
        margin-top: 25px;
    }
    .form-button{
        font-size: 12px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 38px;
    }


}