.title{
    padding-top: 70px;
    line-height: 90px;
    font-weight: 700;
    font-size: 48px;
    font: bold;
    display: flex;
    justify-content: center;
}

.homepage{
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}


@media (max-width: 680px){
    .title{
        padding-top: 60px;
        padding-bottom: 10px;
        line-height: 30px;
        font-weight: 700;
        font-size: 20px;
        
        font: bold;
        display: flex;
        justify-content: center;
    }

}
