

.cardServe {
    width: 372px;
    height: 432px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: "no-repeat";
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: end;
    overflow: hidden;
  }

  .cardServe p {
    display: flex;
    flex-flow: column;
    justify-content: start;
    color: white;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
  }

  .background-shadow{
    height: 141px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.895), rgba(17, 9, 9, 0.808), rgba(36, 1, 1, 0));
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    border-radius: 10px;
  }
  .cardServe .descriptionCardServe{
    font-weight: 500;
    width: 100%;
    height: fit-content;
    font-size: 16px;
  }
  .cardServe .descriptionCardServe{
    display: none;
    margin-top: 0px;
  }

  .cardServe:hover .descriptionCardServe{
    display: block;
  }

  .cardServe:hover .background-shadow {
    height: 100%;
    /* background: #231f2069; */
    background: #231f209c;
    display: flex;
    flex-direction: column;
    justify-content: end;
    animation: moveUp 0.5s forwards;

  }

  @keyframes moveUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @media (max-width: 576px){
    .cardServe {
      width: 320px;
      height: 372px;
    }
    .cardServe p {
      display: flex;
      flex-flow: column;
      justify-content: start;
      color: white;
      height: 50px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      text-align: left;
    }
    .cardServe .descriptionCardServe{
      font-weight: 500;
      width: 90%;
      height: fit-content;
      font-size: 16px;
      
    }
  }