.core{
    width: 100%;
    height: fit-content;
    background: #091E6C;
    color: white;
    margin-bottom: -52px;
    padding-bottom: 100px;
}

.coreHeadingColor{
    color: white;
}
.sub-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 70px;
}

.core-details{
    width: 87%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin:auto;
}

.core-content{
    width: 33.33%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.core--2{
    border: .5px solid #a7a5a685;
    border-top: none;
    border-bottom: none;
}


.core-details img{
    height: 150px;
}



.core-descriprion{
    font-size: 17px;
    line-height: 30px;
    font-weight: 400px;
}

/* have to change height and width for different screen size */
.core-content .image{
    width: 244px;
    height: 244px;
}

.image img{
    width: 100%;
    object-fit:contain;
    height: 100%;
    border: solid rgba(255, 255, 255, 0.749);
    border-radius: 17px;
    border-width: 1px;
}

@media (max-width: 1000px){
    .core{
        padding-bottom: 90px;
    }
    .sub-title{
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        margin-top: -5px;
        margin-bottom: 50px;
    }
    .core-content .image{
        width: 160px;
        height: 160px;
    }
    .sub-title{
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }
    .core-details{
        width: 87%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .core-content{
        width: 70%;
    }
    .core--2{
        border: 1px solid #a7a5a685;
        border-left: none;
        border-right: none;
        margin-bottom: 35px;
        padding-top: 35px;
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .core-descriprion{
        font-size: 14px;
        line-height: 24px;
        font-weight: 700px;
    }
}

