.challenges2body{
    background: #231F20;
    color: white;
    margin-bottom: -52px;
    padding-bottom: 100px;
}

.challenges2contents{
    width: 90%;
    min-height: 425px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 15px;

}



.titleColorChangeP{
    color: white ;
}

.challenges2-left{
    background-color: #124286;
    border-radius: 24px;
    width: 40%;
    /* padding-top: 70px; */
    padding-top: 20px;
    min-height: 425px;
    
    max-width: 464px;
}

.challenges2-right{
    width: 60%;
    max-width: 716px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}


.challenges2-top{
    height: calc(50%);
    background-color: #393E52;
    border-radius: 24px;
    /* padding-top: 70px; */
    padding-top: 20px;
    display: flex;
}

.challenges2-top1{
    height: calc(50%);
    background-color: #124286;
    border-radius: 24px;
    /* padding-top: 70px; */
    padding-top: 20px;
    display: flex;
}

.challenges2-bottom{
    height: calc(50%);
    background-color: #282F6E;
    border-radius: 24px;
    /* padding-top: 70px; */
    padding-top: 20px;
    display: flex;
}

.cha-number{
    width: 50px;
    height: 24px;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 40px;
}

.cha-heading{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 21px;
    margin-bottom: 21px;
    min-height: 72px;
    max-width: 400px;
}

.cha-heading-2{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 21px;
    min-height: 36px;
    max-width: 400px;
}

.cha-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-left: 32px;
    margin-right: 32px;
    min-height: 72px;
    max-width: 387px;
    padding-bottom: 10px;
}

.cha-image{
    height: 175px;
    width: 175px;
}

.left-img{
    margin-left: 20px;
    margin-right: auto;
    height: 250px;
    width: 353px;
}

.cha-image  img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.cha-leftText{
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

.right-img{
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.challenges2-second .cha-image{
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

.challenges2-second .cha-text{
    margin-bottom: 20px;
}

.challenges2-second .cha-leftText{
    width: 100%;
}

.challenges2-second{
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.challenges2-second .challenges2-top1 .challenges2-top .challenges2-bottom{
    padding-top: 100000px;
}

.cha-image-left{  
    /* changed */
    height: 200.05px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}

.cha-image-left img{
    width: fit-content;
    height: 100%;
    object-fit:contain;
}
.challengesMoreTitle{
    text-align: center;
}

@media (min-width: 950px){
    .challenges2-second{
        display: none;
    }
}

@media (max-width: 950px){

    .cha-text{}
    .challengesMoreTitle{
        padding-top: 80px;
        line-height: 30px;
    }
    .challenges2contents{
        display: none;
    }
    
    .cha-img2{
        width: 50%;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .cha-img2 img{
        height: 100%;
        width: 100%;
    }

    .cha-heading{
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 10px;
        margin-bottom: 5px;
        min-height: 40px;
        max-width: 400px;
    }

    .cha-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-left: 32px;
        margin-right: 32px;
        min-height: 72px;
        max-width: 450px;
        padding-bottom: 10px;
    }

    .challenges2-top{
        padding-top: 50px;
    }
    
    .challenges2-top1{
        padding-top: 50px;
    }
    
    .challenges2-bottom{
        padding-top: 50px;
    }
    .challenges2body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}